<aside class="menu">
  <div class="menu-label">
    <span>Vergil's blog</span>
    <p>Quick notes</p>
  </div>
  <ul class="menu-list">
    <li><%= link_to "index" do %>
        <i class="fas fa-home menu-icon"></i>
        <span>主页</span>
        <% end %></li>
    <li><%= link_to "index" do %>
        <i class="fas fa-tags menu-icon"></i>
        <span>标签</span>
      <% end %></li>
    <li><%= link_to "index" do %>
        <i class="far fa-calendar-alt menu-icon"></i>
        <span>归档</span>
      <% end %></li>
    <li><%= link_to "index" do %>
        <i class="fas fa-search menu-icon"></i>
        <span>搜索</span>
      <% end %></li>
  </ul>
</aside>

