<div id="blogs">
  <div class="container">
    <div class="columns">
      <div class="column is-3"><!-- 页内导航 -->
        <div class="blogs-menu">
          <%= render 'menu' %>
        </div>
      </div>

      <div class="column is-9"><!-- 内容 -->
        <div class="box" style="min-height:700px">
          <div class="content"><!-- 首页 -->
            <%# @articles.each do |article| %>
            <article>
              <header class="has-text-centered">
                <!--                <h1><%#= article.title %></h1>-->
                <h1>title</h1>
                <div class="tag" style="margin-bottom: 20px">tag</div>
                <!--                <div class="content"><%#= article.text %></div>-->
              </header>
              <div style="margin-bottom: 30px">
                <div>
                  <%=  markdown("> #####ブール値の命名
>
> 真偽値を返す関数またはブール変数の名前を選択するときは、真偽が本当に意味するものが明確であることを確認してください。
>
> ここに危険な例があります：
> 	bool read_password = true;
>
> あなたがそれをどのように読んでいるか（意図していない）に応じて、2つの全く異なる解釈があります：
>
> - パスワードを読む必要があります
> - パスワードはすでに読み込まれています
>
> この場合、「読み込み」という単語を避け、need_passwordまたはuser_is_authenticatedという名前を付けてください。")%>
                </div>

              </div>
            </article>
            <%# end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>