<div id="home">
  <div class="container">
    <header class="hero is-large"><!-- 页头 -->
      <div class="hero-body">
        <div class="inner">
          <h1 class="title level-item has-text-centered">VERGIL's Blog</h1>
          <p class="subtitle level-item has-text-centered has-text-white">这是我制作的第一个动态网页项目，初步目标是建立起摄影，设计，博客三大板块的的发布及管理，以及评论功能。
          </p>
        </div>
        <div class="has-text-centered">
          <span class="has-text-white  arrow">
            <i class="fas fa-angle-down fa-3x"></i>
          </span>
        </div>

      </div>
    </header>

    <div><!-- 内容 -->
      <section class="hero is-bold">
        <div class="hero-body">
          <div>
            <h2 class="title">个人简介</h2>
            <div class="hr"></div>
            <p class="subtitle ">Vergil，本名严亦斌。现在日本就读首都大学东京工业设计研究院。学部主攻GPU高性能并列计算，现主攻CG动作捕捉。<br>兴趣大概有WEB，平面设计，室内设计，绘画，摄影，视频后期，游戏，料理，红酒，读书，木工等等。<br>广而不精，喜欢了解新鲜的领域。</p>
          </div>
          <div class="inner">
            <span>icon</span>
            <span>icon</span>
            <span>icon</span>
          </div>
        </div>
      </section>

      <div>
        <section >
          <div class="columns">
            <div  class="column">
              <img src="assets/pic01.jpg">
            </div>
            <div  class="column">
              <h2 class="title">影集</h2>
              <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>
          </div>
        </section>

        <section>
          <div class="columns">
            <div class="column">
              <h2 class="title">影集</h2>
              <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>
            <div class="column">
              <img src="assets/pic02.jpg">
            </div>
          </div>
        </section>

        <section>
          <div class="columns">
            <div class="column">
              <img src="assets/pic03.jpg">
            </div>
            <div class="column">
              <h2 class="title">影集</h2>
              <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>
          </div>
        </section>
      </div>

      <section class="hero is-bold">
        <div>
          <div class="hero-body">
            <h2 class="title">博客</h2>
            <div class="hr"></div>
            <p class="subtitle">由于这是属于个人介绍的主页，在思考页面逻辑的时候，我就打算将首页作为以标签为主。</p>
          </div>
          <div>
            <div class="vcard">
              <h3>WEB</h3>
              <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
            </div>
            <div class="vcard">
              <h3>CG</h3>
              <p class="subtitle">cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>

            <div class="vcard">
              <h3>料理</h3>
              <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
            </div>
            <div class="vcard">
              <h3>摄影</h3>
              <p class="subtitle">cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>

            <div class="vcard">
              <h3>读书</h3>
              <p class="subtitle"> class="subtitle"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
            </div>
            <div class="vcard">
              <h3>其他</h3>
              <p class="subtitle">cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>

        </div>
      </section>
    </div>
  </div>
</div>