// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#blogs{

  div.columns{
    min-height:800px;
    margin:10px 140px 80px;
  }

  .blogs-menu {
    .menu-label{
      display:flex;
      margin:0px;
      height:90px;
      background: rgba(0, 0, 0, 0.5);
      flex-direction:column;
      justify-content:center;
      align-items:center;
      span{
        font-size:20px;
        font-weight: bold;
        color:#fff;
        padding:10px 0;
      }
      p{
        font-size:10px;
        color:#DDD;
      }
    }
    ul{
      background:white;
    }
  }

  .menu-list a{
    padding: 0.75em 1.5em;
    span{
      margin-left: 3px;
    }
  }

  .menu-icon{
    width:18px;
    height:18px;
  }

}



#blog {


  div.hr{
    width:80%;
    background:#77777777;
    margin:40px auto;
  }

  div.hr:last-child{
    display:none;
  }


  div.tag{
    margin:0 0 20px 0;
  }

  article{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin:0 0 20px 0;
  }

}