<footer><!-- 页脚 -->
    <ul class="columns level-item has-text-centered">
      <li class="column is-4"></li>
      <li class="column">icon</li>
      <li class="column">icon</li>
      <li class="column">icon</li>
      <li class="column">icon</li>
      <li class="column is-4"></li>
    </ul>
    <div class="level-item has-text-centered">
        Vergil &copy 2018 
    </div>
</footer>